.single-product{
    padding: 100px 0px;
}
.single-product img{
    width: 100%;
    border-radius: 5px;
}

.product-info{

}
.product-info .name{
    font-weight: 900;
    font-size: 50px;
}
.product-info .pricing{
    font-weight: 600;
    font-size: 30px;
    padding: 8px 0px;
}
.product-info .pricing .regular{
    text-decoration: line-through;
    color: #ccc;
}
.product-info .pricing .sale{
    font-weight: 700;
    color: #333;
    margin-left: 30px;
}
.product-info .desc{
    font-weight: 200;
    color: #333;
    font-size: 16px;
}
.product-info .stock{
    font-weight: 600;
    font-size: 30px;
    color: green;
}
.product-info .stock.out{
    color: red;
}

.product-info .cart-btn{
    margin-top: 15px;
}
.product-info .cart-btn button{
    padding: 20px 30px;
    font-weight: 400;
    background-color: #333;
    border-color: #333;
}

.product-info .cart-btn button:hover{
    background-color: transparent;
    color: #333;
    border-color: #333;
}

.related{
    padding: 50px 0px;
    background-color: #e9e9e9;
}

.related-product .price .regular{
    text-decoration: line-through;
    color: #ccc;
}
.related-product .price .sale{
    font-weight: 700;
    color: #333;
    margin-left: 30px;
}